<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Efika.Crm.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Efika.Crm.AccesoServicios.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="CRMOrganizacion" value="BMSC"/>
    <add key="CRMRutaArchivoCredenciales" value="C:\CredencialesCRM\CredencialesCRM.config"/>
    <add key="BDRutaArchivoCredenciales" value="C:\CredencialesCRM\CredencialesBD.config"/>
    <add key="BDCRMRutaArchivoCredenciales" value="C:\CredencialesCRM\CredencialesBDCRM.config"/>
    <add key="CRMDireccionServidor" value="http://192.168.1.152:80"/>
    <add key="CRMRutaLogs" value="C:\LogsISVCRM\yyyymmdd_ISVCRM.log"/>
    <add key="CRMNombreSProcedureOFV" value="spCalculaOfertaValorBMSC"/>
    <add key="CRMTipoCuenta" value="0104"/>
    <add key="ReporteOrganizacion" value="BMSC_MSCRM"/>
    <add key="ReporteRuta" value="http://172.16.4.233/ReportServer/Pages/"/>
    <add key="ReporteProductoSimuladoNombre" value="rpt_simuladorpago"/>
    <add key="ReporteSistExt1" value="Rpt_CRM_CaratulaOnBase"/>
    <add key="ReporteScorePuntuacion" value="rpt_scorepuntacion"/>
    <add key="ReporteModeloEvaluador" value="rpt_modeloevaluador"/>
    <add key="ReporteSimuladorPagoScore" value="rpt_simuladorpagoScore"/>
    <add key="ReporteFlujoCaja" value="rpt_flujocaja_canasta"/>
    <add key="ReporteFlujoCaja_Consumo" value="rpt_flujocaja_consumo"/>
    <add key="NombreTipoProductoTC" value="TARJETAS DE CRÉDITO"/>
	<add key="urlvertasa" value="http://172.16.4.233/ReportServer/Pages/"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <pages theme="SkinCRM">
      <controls>
        <add assembly="OfficeWebUI" namespace="OfficeWebUI" tagPrefix="OfficeWebUI"/>
        <add assembly="OfficeWebUI" namespace="OfficeWebUI.Ribbon" tagPrefix="OfficeWebUI"/>
        <add assembly="OfficeWebUI" namespace="OfficeWebUI.ListView" tagPrefix="OfficeWebUI"/>
        <add assembly="OfficeWebUI" namespace="OfficeWebUI.Workspace" tagPrefix="OfficeWebUI"/>
        <add assembly="OfficeWebUI" namespace="OfficeWebUI.Button" tagPrefix="OfficeWebUI"/>
        <add assembly="OfficeWebUI" namespace="OfficeWebUI.ListView" tagPrefix="OfficeWebUI"/>
      </controls>
    </pages>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <applicationSettings>
    <Efika.Crm.Web.Properties.Settings>
      <setting name="Efika_Crm_Web_BMSCEvaluarScoreService_EvaluarScoreService"
       serializeAs="String">
        <value>https://serviciosdesa.bmsc.com.bo:443/soa-infra/services/crm/pjtEvaluarScoreSCA/EvaluarScoreService</value>
      </setting>
      <setting name="Efika_Crm_Web_BMSCOnBase_CaratulaOnbaseService"
       serializeAs="String">
        <value>http://172.16.19.248:8001/soa-infra/services/crm/pjtEnviarCaratulaOnBaseSCA/CaratulaOnbaseService</value>
      </setting>
      <setting name="Efika_Crm_Web_BMSCTipoCambio_TipoCambioService"
       serializeAs="String">
        <value>https://serviciosdesa.bmsc.com.bo:443/soa-infra/services/clientes/pjtTipoCambioSCA/TipoCambioService</value>
      </setting>
    </Efika.Crm.Web.Properties.Settings>
    <Efika.Crm.AccesoServicios.Properties.Settings>
      <setting name="Efika_Crm_AccesoServicios_CRMSDK_CrmService" serializeAs="String">
        <value>http://192.168.1.191:5555/MSCrmServices/2007/CrmService.asmx</value>
      </setting>
      <setting name="Efika_Crm_AccesoServicios_crmmetadatasdk_MetadataService" serializeAs="String">
        <value>http://192.168.1.191:5555/mscrmservices/2007/MetaDataService.asmx</value>
      </setting>
      <setting name="Efika_Crm_AccesoServicios_BMSCTASAS_ObtenerTasaService" serializeAs="String">
        <value>https://serviciostest.bmsc.com.bo:443/soa-infra/services/crm/pjtObtenerTasaSCA/ObtenerTasaService</value>
      </setting>
    </Efika.Crm.AccesoServicios.Properties.Settings>
  </applicationSettings>
</configuration>
