USE [BDI_CRM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_sp_valida_dependiente]    Script Date: 02/11/2014 10:30:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Jessenia Zavala>
-- Description:	BMSC Prioridad 0
--              Funcion que valida si un cliente 
--              es un dependiente
-- =============================================
ALTER FUNCTION [dbo].[fn_sp_valida_dependiente] 
(
	-- Add the parameters for the function here
	@u_accountID uniqueidentifier
)
RETURNS int
AS
BEGIN
    -- Declare the return variable here
	DECLARE @c_dependiente char
	DECLARE @i_dependiente int

	-- Add the T-SQL statements to compute the return value here
	--Obtiene el primer caracter del segmento para identificar si es o no cliente dependiente
	set @c_dependiente =(select Substring(t.efk_segmentoidName,1,1)
	from BMSC_MSCRM..Account t
	where accountId=@u_accountID);
	
	--Validacion de cliente dependiente
	if @c_dependiente = 'D' 
		begin 
			set @i_dependiente = 1; --Es dependiente
		end
	else 
		begin
			set @i_dependiente = 0; -- No es dependiente
		end

	-- Return the result of the function
	RETURN @i_dependiente

END
